{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="{% static 'css/styles.css'%}">
    <title>DPSYSTEM - Login Prepared by Muhammad Irfan Contact # 03332288944 email: a1irfan@hotmail.com</title>
</head>
<body>
    <header>
        <h1>DPSYSTEM</h1>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="accounts/login/">Signup/Login</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section>
            <h2>Login</h2>
             <form id="loginForm">
                {% csrf_token %}
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
               <button type="button" onclick="submitLoginForm()">Login</button>
            </form>
            <p>Don't have an account? <a href="/accounts/signup/doctor/">Sign up as a Doctor</a></p>
             <p>Don't have an account? <a href="/accounts/signup/patient/">Sign up as a Patient</a></p>
            <div id="errorMessage" style="color: red;"></div>
        </section>
    </main>

    <footer>
        <p>&copy; 2023 DPSYSTEM. All rights reserved.</p>
    </footer>

<script>
    function submitLoginForm() {
        const loginForm = document.getElementById('loginForm');
        const errorMessage = document.getElementById('errorMessage');
        const formData = new FormData(loginForm);

        fetch('{% url 'login' %}', {
            method: 'POST',
            body: formData,
        })
        .then(response => response.json())
        .then(data => {
            if ('access_token' in data) {
                // Successful login
                const userRole = data.role;
                console.log('Successful login');
                console.log(data.access_token);
                console.log(data.role);
                const accessToken = data.access_token;
                 // Store the access token in sessionStorage

                sessionStorage.setItem('accessToken', accessToken);
                console.log('Access Token stored in sessionStorage.');
                // Redirect based on user role
                if (userRole === 1) {
                    // Doctor
                     if (data.package) {
                            window.location.href = `/dashboard/doctor_dashboard/?user_id=${data.user_id}`;
                    } else {
                        window.location.href = `/dashboard/subscription_package/?user_id=${data.user_id}`;
                    }
                } else if (userRole === 2) {
                    // Patient
                    window.location.href = '/dashboard/patient_dashboard/';
                } else {
                    // Handle other roles or unexpected cases
                    errorMessage.innerText = 'Invalid user role';
                }
            } else {
                errorMessage.innerText = data.message || 'Login failed. Please try again.';
            }
        })
        .catch(error => {
            console.error('Error:', error);
            errorMessage.innerText = 'An unexpected error occurred. Please try again later.';
        });
    }
</script>

</body>
</html>
